* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;

}

.container {
    padding: 0;
}


/* HEADER */
.header__titulo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
}

header img {
    opacity: 0.8;
}

.header__h1 {
    color: lightyellow;
    font-size: 70px;
    box-shadow: 4px 4px 4px 4px rgba(11, 11, 11, 0.6);
    position: absolute;
    top: 2%;
    left: 2%;
    font-weight: 600;

}

.header__desayuno {
    position: absolute;
    top: 20%;
    left: 25%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 45px;
    font-weight: 600;
    color: lightyellow;
    text-align: center;
}

.header__desayuno a {
    text-decoration: none;
    color: lightseagreen;
}

/* NAV COMIDAS*/
nav {
    margin-top: 30px;
}

.nav__titulo {
    text-align: center;
    font-size: 40px;
}

.nav__imagenes {
    background-color: gainsboro;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;

}

.nav__imagenes img {
    margin-top: 25px;
    border-radius: 100%;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;

}

.nav__imagenes a {
    text-decoration: none;
    color: black;
}

.nav__footer {
    font-size: 25px;
    text-align: center;

}

/* RECETAS SALUDABLES */
.recetas__titulo {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;

}

.recetas__grupo {
    margin-top: 20px;
    display: flex;
}

.recetas__saludables {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.receta__footer-titulo {
    text-align: center;
    margin-top: 10px;
}

hr {
    margin-top: 40px;
}

/* MERIENDAS RAPIDAS Y SALUDABLES */

/* BROWNIE */
.meriendas__rapidas-y-saludables {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.meriendas__saludables {
    align-content: center;
    margin-top: 40px;
    height: 45vh;
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
}

.merienda__brownie {
    position: relative;
}

.merienda__brownie img {
    margin-top: 50px;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.brownie__titulo {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.merienda__brownie:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__brownie:hover {
    scale: 1.1;
}

.merienda__brownie:hover img {
    opacity: 0.4;
}

.merienda__brownie:hover .brownie__titulo {
    font-size: 40px;
    font-weight: 600;
    color: black;
}


/* CUPCAKES */
.meriendas__rapidas-y-saludables {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.meriendas__saludables {
    margin-top: 40px;
    height: 45vh;
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
}

.merienda__cupcakes {
    position: relative;
}

.merienda__cupcakes img {
    margin-top: 50px;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.cupcakes__titulo {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.merienda__cupcakes:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__cupcakes:hover {
    scale: 1.1;
}

.merienda__cupcakes:hover img {
    opacity: 0.4;
}

.merienda__cupcakes:hover .cupcakes__titulo {
    font-size: 40px;
    font-weight: 600;
    color: black;
}



/* ROLLS */
.meriendas__rapidas-y-saludables {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.meriendas__saludables {
    margin-top: 40px;
    height: 45vh;
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
}

.merienda__Rolls {
    position: relative;
}

.merienda__Rolls img {
    margin-top: 50px;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;
}

.merienda__titulo {
    text-align: center;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;
}

.Rolls__titulo {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.merienda__Rolls:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__Rolls:hover {
    scale: 1.1;
    cursor: pointer;
}

.merienda__Rolls:hover img {
    opacity: 0.4;
}

.merienda__Rolls:hover .Rolls__titulo {
    font-size: 40px;
    font-weight: 600;
    color: black;
}


/* PANCAKES */
.meriendas__rapidas-y-saludables {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.meriendas__saludables {
    margin-top: 40px;
    height: 45vh;
    display: flex;
    background-color: gainsboro;
    justify-content: space-around;
}

.merienda__pancakes {
    position: relative;
}

.merienda__pancakes img {
    margin-top: 50px;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.pancakes__titulo {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.merienda__pancakes:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__pancakes:hover {
    scale: 1.1;
}

.merienda__pancakes:hover img {
    opacity: 0.4;
}

.merienda__pancakes:hover .pancakes__titulo {
    font-size: 40px;
    font-weight: 600;
    color: black;
}

/* Recetas faciles , sanas y divertidas para tu cocina */
.videos__recetas{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.recetas__faciles{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}
/* COCINA ORGANIZADA */

.tu__cocina__organizada{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;

}

.organizacion__comida{
    margin-top: 40px;
    display: flex;

}
.organizacion__titulo{
    text-align: center;
    font-weight: 600;

}
.organizacion__subtitulo{
    text-align: center;
    margin-top:20px ;
    font-weight: 600;

}
.organizacion__parrafo{
    margin-top: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.porque_es_importante_organzar_la_cocina{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.que-factores-hay-que-tener-en-cuenta-para-la-organizacion{
    text-align: center;
    font-weight: 600;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    background-color: gainsboro;
    height: 30vh;
}
.footer__fuerza__natural{
    font-size: 40px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-weight: 600;

}
.footer__titulo__salud h3{
    font-weight: 600;
}
.secciones h2{
    font-size: 40px;
    font-weight: 600;

}
.secciones li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;

}
.contacto h2{
    font-size: 40px;
    font-weight: 600;
}
.contacto li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}
.faqs h2{
    font-size: 40px;
    font-weight: 600;
}
.faqs li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}
.redes h2{
    font-size: 40px;
    font-weight: 600
}
.redes img{
    flex-direction: column;
}
.redes li{
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}