* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;

}

.container {
    padding: 0;
}



/* HEADER */
.header__titulo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
}

header img {
    opacity: 0.8;
}

.header__h1 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 2%;
    left: 2%;
    font-weight: 600;
    width: auto;

}

.header__desayuno {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 45px;
    font-weight: 600;
    color: white;
    text-align: center;

}

.header__desayuno a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(252, 250, 250);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30%;

}




/* ACCESOS */
.accesos {
    list-style-type: none;
    margin-top: 10px;
    background-color: #9c6644;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;

}

.accesos a {
    text-decoration: none;
    color: whitesmoke;
}

.accesos li:hover {
    scale: 1.3;
}



/* Las mejores variedades para tu alimentacion*/
nav {
    margin-top: 30px;
}

.nav__titulo {
    text-align: center;
    font-size: 40px;
}

.nav__imagenes {
    background-color: #9c6644;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;

}

.nav__imagenes img {
    margin-top: 25px;
    border-radius: 100%;
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
}

.nav__imagenes img:hover {
    scale: 1.1;
}

.nav__imagenes a {
    text-decoration: none;
    color: white;
}

.nav__footer {
    font-size: 25px;
    text-align: center;

}

/* RECETAS SALUDABLES */
.recetas__titulo {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;

}

.recetas__grupo {
    margin-top: 20px;
    display: flex;
}

.recetas__saludables {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.receta__footer-titulo {
    text-align: center;
    margin-top: 10px;
}

hr {
    margin-top: 40px;
}

/* MERIENDAS RAPIDAS Y SALUDABLES */

/* BROWNIE */
.meriendas__rapidas-y-saludables {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;


}

.meriendas__saludables {
    margin-top: 40px;
    display: flex;
    height: 100%;
    justify-content: space-around;
    background-color: #9c6644;

}

.merienda__brownie {
    position: relative;
}

.merienda__brownie img {
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.brownie__titulo {
    position: absolute;
    top: 40%;
    left: 25%;
}

.merienda__brownie:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__brownie:hover {
    scale: 1.1;
}

.merienda__brownie:hover img {
    opacity: 0.4;
}

.merienda__brownie:hover .brownie__titulo {
    font-size: 35px;
    font-weight: 400;
    color: whitesmoke;
}


/* CUPCAKES */


.merienda__cupcakes {
    position: relative;
}

.merienda__cupcakes img {
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.cupcakes__titulo {
    position: absolute;
    top: 40%;
    left: 25%;
}

.merienda__cupcakes:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__cupcakes:hover {
    scale: 1.1;
}

.merienda__cupcakes:hover img {
    opacity: 0.4;
}

.merienda__cupcakes:hover .cupcakes__titulo {
    font-size: 35px;
    font-weight: 400;
    color: whitesmoke;
}



/* ROLLS */

.merienda__Rolls {
    position: relative;
}

.merienda__Rolls img {
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;
}

.merienda__titulo {
    text-align: center;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;
}

.Rolls__titulo {
    position: absolute;
    top: 40%;
    left: 30%;
}

.merienda__Rolls:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__Rolls:hover {
    scale: 1.1;
    cursor: pointer;
}

.merienda__Rolls:hover img {
    opacity: 0.4;
}

.merienda__Rolls:hover .Rolls__titulo {
    font-size: 35px;
    font-weight: 400;
    color: whitesmoke;

}


/* PANCAKES */

.merienda__pancakes {
    position: relative;
}

.merienda__pancakes img {
    border: solid 5px white;
    -webkit-box-shadow: 5px 5px 5px black;
    border-radius: 100%;
    display: block;

}

.merienda__titulo {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-out;


}

.pancakes__titulo {
    position: absolute;
    top: 40%;
    left: 30%;
}

.merienda__pancakes:hover .merienda__titulo {
    opacity: 1;
    cursor: pointer;

}

.merienda__pancakes:hover {
    scale: 1.1;
}

.merienda__pancakes:hover img {
    opacity: 0.4;
}

.merienda__pancakes:hover .pancakes__titulo {
    font-size: 35px;
    font-weight: 400;
    color: whitesmoke;

}

/* Recetas faciles , sanas y divertidas para tu cocina */
.videos__recetas {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.recetas__faciles {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}

/* COCINA ORGANIZADA */

.tu__cocina__organizada {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;

}

.organizacion__comida {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.organizacion__titulo {
    text-align: center;
    font-weight: 600;

}

.organizacion__subtitulo {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;

}

.organizacion__parrafo {
    margin-top: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.porque_es_importante_organzar_la_cocina {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.que-factores-hay-que-tener-en-cuenta-para-la-organizacion {
    text-align: center;
    font-weight: 600;
}


/* FOOTER */
footer {
    margin-top: 40px;
}

.footer__grupo {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #333;
    color: whitesmoke;
}

.footer__fuerza__natural {
    margin-top: 15%;
    font-size: 30px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-weight: 600;

}

.footer__titulo__salud h2 {
    color: black;
}

.footer__titulo__salud h3 {
    font-weight: 600;
    text-align: center;
}

.secciones h2 {
    font-size: 30px;
    font-weight: 600;


}

.secciones li {
    list-style-type: none;
    font-size: 20px;

}

.contacto h2 {
    font-size: 30px;
    font-weight: 600;
}

.contacto li {
    list-style-type: none;
    font-size: 20px;
}

.faqs h2 {
    font-size: 30px;
    font-weight: 600;
}

.faqs li {
    list-style-type: none;
    font-size: 20px;
}

.redes h2 {
    font-size: 30px;
    font-weight: 600;
}

.redes img {
    flex-direction: column;
}

.redes li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    font-size: 30px;
    font-weight: 600;

}

.formulario input {
    font-size: 20px;
    width: 100%;
    height: 30px;
}

.formulario textarea {
    font-size: 20px;
    width: 100%;
    height: 100px;
}

.formulario input:hover {
    border: solid 4px rgb(243, 243, 7);
    scale: 1.1;
}

.formulario textarea:hover {
    border: solid 4px rgb(243, 243, 7);
    scale: 1.1;
}

.formulario button {
    background-color: rgb(243, 243, 7);
    font-size: 20px;
}

.formulario button:hover {
    border: solid 4px rgb(243, 243, 7);
    scale: 1.1;
}

/* MOBILE */

@media (min-width: 399px) and (max-width:900px) {

    /* HEADER */
    .header__desayuno {
        flex-wrap: wrap;
        align-items: center;
        left: -20%;
    }
    .accesos{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav__imagenes{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .recetas__grupo{
        flex-direction: column;
        align-items: center;
    }
    .meriendas__saludables{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* solo a una iamgen y se despegaron todas, chequear */
    .merienda__brownie{
        margin-bottom: 20px;
    }
    .merienda__cupcakes{
        margin-bottom: 20px;

    }
    .merienda__Rolls{
        margin-bottom: 20px;

    }
    .videos__recetas{
        flex-direction: column;
        align-items: center;
        
    }
    .video__tortilla{
        margin-bottom: 20px;
    }
    .video__brownie{
        margin-bottom: 20px;
    }
    .video__helado{
        margin-bottom: 20px;
    }
    .organizacion__comida{
        flex-direction: column;
        align-content: center;
    }
    .despensero__comida{
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .footer__grupo{
        flex-direction: column;
    }
    .footer__titulo__salud h2{
        margin-left: 15%;
    }
    }
   